DataSetCreator/.idea/
DataSetCreator/VkDataset*
DataSetCreator/__pycache__/
.idea/
DataSetCreator/passwords.py
DataSetCreator/______Music/
DataSetCreator/______Music_2/
DataSetCreator/music/
TagAnalyzer/__pycache__/
*.tsv
music/
